.DS_Store*
node_modules
.pnpm-store
.next
dist
coverage
.turbo
.generated/
.env
!.env.example

# Web generated artifacts
apps/web/storybook-static
apps/web/test-results
apps/web/playwright-report
apps/web/blob-report
.github/*
!.github/workflows/
.github/workflows/*
!.github/workflows/*.yml
apps/landing/.github/
.vscode/
tmp/